* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto sans-serif 'Times New Roman';
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}


.nav {
  display: flex;
  align-items: center;
}

.hero-bottom {
  background-color: #4D5AE5;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.features {
  /* Effective Solutions for Your Business */

position: absolute;
color: #ffffff
width: 496px;
height: 120px;
left: 472px;
top: 260px;

/* Header 1 */
background-color: #2e2f42;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;

/* WHITE */
color: #FFFFFF;
}

.team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

}
.team-role { 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.document {
  background-color: #F4F4FD;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.document-hero1{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42 ;
}
